.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-header nav ul {
  list-style-type: none;
  padding: 0;
}

.App-header nav ul li {
  display: inline;
  margin: 0 10px;
}

.App-header nav ul li a {
  color: white;
  text-decoration: none;
}

.content {
  padding: 20px;
}

.graph-container {
  width: 80%;
  margin: 0 auto;
  position: relative;
  height: 400px; /* Fija la altura del contenedor */
}

.graph-container canvas {
  height: 100% !important; /* Asegúrate de que el canvas ocupe el 100% de la altura del contenedor */
  max-height: 100%;
}
